{
  "presets": [
    "env",
    "stage-1"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      }
    ],
    "transform-vue-jsx",
    "transform-runtime",
    "syntax-dynamic-import"
  ]
}
